@font-face {
  font-family: "Lora-Regular";
  src: url(../fonts/Lora-Regular.woff2) format("woff2"), url(../fonts/Lora-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "brown-sugar";
  src: url(../fonts/brown-sugar.woff2) format("woff2"), url(../fonts/brown-sugar.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lora-Regular", "font", sans-serif;
  font-weight: normal;
  font-size: 20px;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #000000;
}

.container {
  margin: 0 20px;
}

main {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title {
  margin: 0;
  font-family: "brown-sugar", "font", sans-serif;
  font-weight: 400;
  color: #F5F5F5;
}

p {
  margin: 0;
}

a {
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: #F5F5F5;
  outline: none;
}

/* 567 */
@media (min-width: 0px) {
  .picture {
    display: inline-block;
  }
  .picture img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .first {
    position: relative;
  }
  .first__block img {
    width: 100%;
    height: 100%;
  }
  .first__content-block {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
  }
  .first__content {
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
  }
  .title {
    margin: 0;
  }
  .title--h1 {
    font-family: "brown-sugar", "font", sans-serif;
    font-size: 70px;
    line-height: 70px;
    text-align: right;
    position: relative;
    color: #000000;
  }
  .title--h1 span {
    position: absolute;
    left: -2px;
    top: 96%;
    color: #F5F5F5;
  }
  .title--contacts {
    margin-bottom: 45px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    background-image: none;
  }
  .about {
    margin-top: -67px;
  }
  .about__content {
    color: #F5F5F5;
    width: calc(50% - 7px);
  }
  .about__greeting {
    display: block;
  }
  .about__greeting:first-child {
    margin-bottom: 72px;
    margin-top: 42px;
  }
  .about__greeting:last-child {
    text-align: right;
  }
  .about__portfolio {
    display: flex;
    justify-content: space-between;
    margin-top: 102px;
    flex-wrap: wrap;
  }
  .about__width {
    width: calc(50% - 7px);
    display: flex;
    align-items: center;
  }
  .about__width img {
    width: 100%;
  }
  .about__block {
    border: 1px solid #F5F5F5;
    width: 193px;
    border-radius: 50%;
    height: 193px;
    position: relative;
  }
  .about__content1 {
    color: #F5F5F5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* MY SERVICES */
  .services {
    position: relative;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 600px;
  }
  .services svg {
    position: absolute;
    top: 42px;
  }
  .services .title--h2 {
    margin-bottom: 65px;
    padding-right: 31px;
    font-family: "brown-sugar", "font", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-align: right;
    color: #ffffff;
  }
  .services .container--services {
    margin: 0 44px;
  }
  .services .container--services .services__list .services__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    padding: 21px 15px 22px;
    border: 1px solid #ffffff;
  }
  .services .container--services .services__list .services__item .services__text {
    max-width: 317px;
    font-family: "Inter-Regular", "font", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 300;
    align-self: center;
    color: #ffffff;
  }
  .services .container--services .services__list .services__item .btn {
    padding: 12px 41px 12px 45px;
    border: none;
    outline: 1px solid #ffffff;
    font-family: "Inter-Regular", "font", sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  }
  .services .container--services .services__list .services__item .btn:focus {
    background-color: rgba(66, 66, 65, 0.6);
  }
  .services .container--services .services__list .services__item .btn:hover {
    color: rgb(253, 184, 57);
    outline-color: rgb(253, 184, 57);
  }
  /* FOOTER */
  .footer {
    max-width: 600px;
    margin: 0 auto;
  }
  .footer .contact__list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .contact__list .contact__item {
    position: relative;
    margin-right: 70px;
    margin-bottom: 24px;
    min-width: 235px;
    font-family: "Inter-Regular", "font", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
  }
  .footer .contact__list .contact__item:nth-child(2) {
    margin-right: 0;
  }
  .footer .contact__list .contact__item svg path:hover {
    fill: rgb(253, 184, 57);
  }
  .footer .contact__list .contact__item .contacts__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  .footer .contact__list .contact__item .contacts__link:focus {
    background-color: rgba(66, 66, 65, 0.6);
  }
  .footer .contact__list .contact__item .contacts__link:hover {
    color: rgb(253, 184, 57);
  }
  .footer .contact__list .contact__item .contacts__link::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: -7px;
    left: 0;
    border-bottom: 1px solid #fff;
    transition: border-color 0.3s ease-in-out;
  }
  .footer .contact__list .contact__item .contacts__link:hover::before {
    border-bottom: 1px solid rgb(253, 184, 57);
  }
  .footer .contact__list .contact__item .contacts__link svg {
    align-self: center;
  }
  .footer .contact__list .contact__item .contacts__link svg path {
    transition: fill 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .footer .contact__list .contact__item .contacts__link:hover svg path {
    opacity: 0.8;
    fill: rgb(253, 184, 57);
  }
}
@media (min-width: 768px) {
  .about {
    margin-top: -75px;
  }
  .about .title {
    margin: 0;
  }
  .about .title--h1 {
    font-family: "brown-sugar", "font", sans-serif;
    font-size: 80px;
    line-height: 80px;
    text-align: right;
    position: relative;
    color: #000000;
  }
  .about .title--h1 span {
    position: absolute;
    left: -2px;
    top: 96%;
    color: #F5F5F5;
  }
}/*# sourceMappingURL=style.css.map */